{% extends "default.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container theme-showcase" role="main">
        {% block alerts %}
            {% if alerts %}
                {% for alert in alerts %}
                    <div class="alert alert-{{ alert.priority }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% if alert.title != '' %}
                            <strong>{{ alert.title }}</strong>
                        {% endif %}
                        {{ alert.message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>
                {{ jumbo.title }}
            </h1>
            <p>
                {{ jumbo.lead }}
            </p>
            <p>
                <a href="article.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-4">
                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-4">
                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-4">
                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <a href="article.html">
                    <h4>Subheading</h4>
                </a>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>
    </div>
{% endblock %}